[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nbdime = "*"

[packages]
xgboost = "*"
spacy = "*"
pandas = "*"
scikit-learn = "*"
pyconll = "*"
tokenizers = "*"

[requires]
python_version = "3.8"
